<div class="text-centre">
  <h1>About Us</h1>
  <h4>At Shooper we believe that shopping shall be an easy and stress free experience!</h4>
  <h4>Follow us at:</h4>
  <a href="#"><i class="fab fa-instagram fa-10x right-space"></i></a>
  <a href="#"><i class="fab fa-facebook fa-10x right-space" style="color: #395694"></i></a>
  <a href="#"><i class="fab fa-twitter-square fa-10x" style="color: #1DA1F2;"></i></a>
</div><br>

<svg width="400" height="200" xmlns="http://www.w3.org/2000/svg">
 <g>
  <title>background</title>
  <rect fill="#fff" id="canvas_background" height="202" width="402" y="-1" x="-1"/>
  <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
   <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
 </g>
</g>
<g>
  <title>Layer 1</title>
  <ellipse ry="55" rx="55.5" id="svg_1" cy="107.770833" cx="307" stroke-width="1.5" stroke="#000" fill="#FFDFB8"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_7" y2="280.160541" x2="309.159089" y1="161.467649" x1="309.159089" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_8" y2="188.571845" x2="247.19678" y1="171.74923" x1="308.8797" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_9" y2="126.888925" x2="199.532705" y1="188.571845" x1="250.935139" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none"/>
  <path stroke="#000" transform="rotate(140.9763641357422 190.32328796386722,106.93710327148436) " id="svg_10" d="m193.156981,83.038552c6.048283,0.822599 11.226975,4.503905 12.796593,9.166469c0.746514,2.379973 0.30941,4.876752 0.456535,7.308372c0.027752,6.242327 0.041928,12.48469 0.062783,18.727035c-0.710178,1.937681 -3.707684,2.956796 -5.987897,1.998801c-0.198359,0.509008 -0.052968,1.421865 -0.122499,2.083108c0.404365,1.817474 -1.249179,3.666291 -3.650839,3.789285c-1.378258,0.007026 -3.028366,-0.814105 -2.400242,1.004212c0.425881,1.872754 -1.449101,4.005861 -4.013517,3.833231c-2.450597,0.178286 -4.311549,-1.776759 -4.01587,-3.588963c-0.113995,-1.081849 -3.102241,0.708861 -4.146852,-0.493846c-1.332329,-0.619893 -2.243692,-1.802686 -1.992093,-3.025553c-0.077233,-3.34991 0.104039,-6.721055 -0.194321,-10.054833c-2.191234,0.86959 -5.313462,-0.198883 -5.762264,-2.111952c0.049638,-5.943644 -0.126527,-11.891483 0.133314,-17.831707c0.882045,-6.110131 8.294643,-11.277085 16.208073,-10.910123c0.876924,-0.00183 1.761517,-0.008587 2.629097,0.106466l-0.000002,-0.000002zm-5.411195,1.62297c-6.642686,0.880076 -11.86844,5.914787 -11.494201,11.208996c-0.050795,5.116982 -0.257364,10.241495 -0.015495,15.355022c0.154553,1.869606 4.107984,1.416989 3.852381,-0.308142c0.001204,-3.792456 0.002416,-7.58491 0.003633,-11.377366c1.230898,-0.995119 3.434061,-0.395762 4.910058,-1.204531c3.281286,-1.122331 5.366265,-3.870618 5.437784,-6.637758c1.769759,-2.151307 2.570985,1.349809 1.555849,2.503229c-1.173619,3.479171 -5.303418,6.075069 -9.839598,6.41596c0.037112,8.004069 -0.096089,16.011022 0.119186,24.012773c1.28434,2.266635 4.883256,0.278584 3.925409,-1.706237c0.094368,-6.051422 0.009816,-12.104256 0.141893,-18.155248c0.857864,-1.075898 2.483404,-0.055551 1.953182,0.937343c0.036648,7.580278 0.073304,15.160556 0.109954,22.740833c0.68831,1.33873 3.737747,1.129572 3.785741,-0.339732c0.037699,-7.822683 0.075399,-15.645365 0.113102,-23.468049c0.802418,-0.886167 2.450606,-0.115712 2.006758,0.851599c0.02964,5.892544 -0.082493,11.787636 0.113461,17.67807c0.050131,1.753223 3.794735,1.709802 3.84471,0.083866c0.074893,-6.040119 -0.020068,-12.083471 0.205441,-18.120966c-0.212313,-1.537831 2.550707,-0.804272 1.914083,0.35903c0.033759,4.104441 -0.092005,8.21339 0.121532,12.314101c1.259419,2.530246 5.025685,0.441355 3.975429,-1.661686c-0.012632,-7.278213 0.084626,-14.560051 -0.150158,-21.836006c-0.575979,-5.590235 -7.440993,-10.193271 -14.582598,-9.82591c-0.673583,0.022004 -1.345161,0.082308 -2.007533,0.180807l0.000002,0.000002z" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none"/>
  <path stroke="#000" id="svg_11" d="m248.516151,110.880795l-26.668032,-35.986656l0,0c28.25264,-10.855577 36.314495,-31.305163 18.62511,-47.243838c-17.689052,-15.938583 -55.340907,-22.149816 -86.984029,-14.349436c-31.643113,7.800335 -46.922688,27.059297 -35.298696,44.493178c11.623378,17.433874 46.345672,27.337001 80.217159,22.878491l50.108487,30.208261z" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none"/>
  <text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_12" y="54.771151" x="130.500488" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#000000">Welcome</text>
  <path id="svg_13" d="m-176.59045,-56.455177l0.293248,-0.526504l0,0c-0.310672,-0.158823 -0.399322,-0.458011 -0.204806,-0.691202c0.194513,-0.23319 0.608541,-0.324063 0.956496,-0.20994c0.347955,0.114123 0.515972,0.395892 0.388152,0.650959c-0.127813,0.255067 -0.509627,0.399955 -0.882086,0.334724l-0.551004,0.441963z" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none"/>
  <path id="svg_20" d="m332.49907,126.770645c0,0 -45.999677,8.999937 -45.999677,8.999937c0,0 24.999824,11.999916 24.999824,11.999916c0,0 20.999853,-20.999853 20.999853,-20.999853z" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none"/>
  <ellipse ry="8.49994" rx="5.999958" id="svg_21" cy="91.270895" cx="320.499154" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="#000000"/>
  <ellipse ry="8.999937" rx="6.499954" id="svg_22" cy="96.770856" cx="284.999403" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="#000000"/>
</g>
</svg>
