<h1>Main#shop</h1>
<p>Find me in app/views/main/shop.html.erb</p>
<section id="dataEntry">
    <h1>Add a new shopping item</h1>
    <ul>
        <li>
            <label for="item">Details:</label>
            <input type="text" name="item" id="item" placeholder="Enter details here" required>
        </li>
        <li>
            <button id="submitItem">Add Item</button>
        </li>
    </ul>
</section>
<section id="shoppingList">
    <h1>The story so far</h1>
    <table summary="This table lists all the shopping items that have been collected together by all those using this application.">
    <caption>Shopping items together with the person who wants them.</caption>
    <thead>
        <tr>
            <th scope="col">Required by</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody id="itemList">
    </tbody>
    </table>
    </section>
    