/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    width: 1200px;
}

header {
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4267B2;
    color: white;
    text-align: center;
}

#dataEntry ul {
    list-style-type: none;
}

.strikeThrough {
    text-decoration: line-through;
}

.text-centre {
  text-align: center;
}

#mainContentArea {
    display: -webkit-flex;
    display: flex;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.right-space {
  margin-right: 20px;
}

.entry-area {
  padding: 8px;
  border: 2px solid #888888;
  border-radius: 5px;

}

.navbar {
  width: 100vw;
}

#dataEntry {
    width: 50%;
}

#shoppingList {
    width: 50%;
}

@media screen and (max-width: 400px) {
    body {
        width: auto;
    }

    #mainContentArea {
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
        width: auto;
    }

    #dataEntry {
        width: 100%;
    }

    #shoppingList {
        width: 100%;
    }

    #dataEntry h1 {
        display: none;
    }

    #dataEntry label {
        display: none;
    }
}
